.grid {
  height: 620px;
  width: 620px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: solid black;
  height: 200px;
  width: 200px;
}

img {
  height: 200px;
  width: 200px;
}
element.style {
  width: 200px;
  height: 200px;
}
